@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: 500ms;
}

body {
    background-color: #C9C9C9;
}


.containermain {
    max-width: 1500px;
    margin: auto;
    margin-bottom: 50px;
}

header {
    background: white;
    color: black;
    fill: black;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    position: absolute;
}


.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    display: block;
    color: black;
    font-size: 1rem;
    padding: 2em 2em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
}

.navbar a:hover {
    background: #87CEEB;
}

.active {
    background: #87CEEB;
}

.logo {
    margin-left: 1em;
    width: 5rem;
}

.logo img {
    width: 100%;
}


#menu {
    padding: 15px 30px;
    display: none;
}


.hero {
    height: 90vh;
    width: 100%;
    margin-bottom: 50px;
    border: 1px solid red;
}

.hero svg {
    height: 40px;
    display: block;
    position: absolute;
    width: 100%;
    fill: #C9C9C9;
    bottom: 60px;
    transform: rotate(180deg);
}

#slide1 {
    background-image: url("../assets/hero_image/mumbaicity.png");
    background-repeat: no-repeat;
    background-size: cover;
}



@media screen and (max-width:700px) {
    #menu {
        display: block;
        cursor: pointer;
    }

    .navbar {
        position: absolute;
        top: 66px;
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        align-items: center;
        width: 100%;
        background: rgba(0, 0, 0, 0.4);
        transform-origin: top;
        transform: scale(1, 0);
    }

    .shownav {
        transform: scale(1, 1);
    }
}